*{
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 300px){
*{
  margin: 0;
}

header {
  position: relative;
  margin-block-end: 48px;

}

.header-wrapper {
  background-image: url("/img/neo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  height: 513px;
  /* height: 549px; */
  overflow: hidden;
}


.hero{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 198px;
  background: linear-gradient(180deg, #191919 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);


}

.wrapper-hero {

  margin-inline-start: 16px;
  padding-block-start: 16px;

}
.header{
  padding-block-start: 24px;
  margin-block-end: 320px;
}
nav {
  width: 235px;
  margin: auto;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

}

  nav ul li a{
    font-family: verdana;
    font-size: 14px;
    text-decoration: none;
    color: white;
  }
  nav li a:hover {
    color: gray;
  }

  .wrapper-matrix {

    width: 312px;
    height: 146px;
    margin: auto;
  }

  .categoria-matrix {
    margin-block-end: 11px;
    position: relative;
    z-index: 1;
  }
  .categoria-matrix ul {
    /* list-style: none; */
    display: flex;
    padding: 0;
    justify-content: center;
    color: beige;
    list-style: none;


  }


  .categoria-matrix ul li {
    display: flex;
    align-items: center;
    margin-inline: 4px;
  }

  .categoria-matrix ul li::before {
    color: aliceblue;
    content: '•';
    align-items: center;
    position: relative;
    top: 2px;
    margin-inline-end: 5px;


  }
  .categoria-matrix ul li:first-child::before {
    display:none;
  }

  .categoria-matrix ul a {
    font-family: Verdana;
    font-size: 10px;
    color: beige;

    text-decoration: none;
  }

  .botones-matrix {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .gradiente-matrix {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(180deg, #191919 -99.29%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);
    transform: rotate(-180deg);
  }

  body {
    background-color: black;
  }

  h2 {
    color: blanchedalmond;
    font-family: Verdana, sans-serif;
    font-size: 16px;
  }

  .sections {
    margin-inline-start: 16px;
    margin-block-end: 16px;
    width: 329px;
    height: 176px;
  }

  .sections h2 {
  margin-block-end: 8px;
  }

  .flexbox {
    white-space: nowrap;
    overflow-x: auto;

  }
  .box {
    display: inline-block;
    width: 96px;
    height: 114px;
    margin-inline: 2px;
    flex-shrink: 1;
  }

  .box:first-of-type {
    margin-inline-start: 0;
  }
}