@font-face {
  font-family: Avenir;
  src: url('../fonts/AvenirNextLTPro-Regular.otf');
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: AvenirItalic;
  src: url('../fonts/AvenirNextLTPro-It.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: AvenirBold;
  src: url('../fonts/AvenirNextLTPro-Bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: AvenirDemi;
  src: url('../fonts/AvenirNextLTPro-Demi.otf');
  font-style: italic;
  font-weight: bold;
}
body {
  margin: 0;
  background: black;
  /* min-width: 360px; */
}

  .header{

    background-color: black;
    border: 1px solid yellow;
    width: 100%;
  }

  .content-logo {
    position:absolute;
    top: 0;
    left: 13;
    z-index: 2;
    margin-inline-start: 13px;
    margin-block-start: 15px;
    margin-block-end: 25px;
  }

  .header-list {
    position:absolute;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 2;
    /* margin: 0;
    padding: 0; */
    display: flex;
    grid-auto-columns: 100px;
    justify-content: space-evenly;
    padding: 0;

  }

  .header-item {
    list-style: none;

  }

  .header-link {
    color: white;
    font-family: Avenir;
    font-size: 0.9em;
    text-decoration: none;
  }
  .content-gradient-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* width: 100%; */
    height: 198px;
    background: linear-gradient(180deg, #191919 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);
  }

  .content-gradient-bottom {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    z-index: 1;
    height: 70px;
    background: linear-gradient(180deg, #191919 -99.29%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);
    transform: rotate(-180deg);
  }
  .content-neo {
    position: relative;
    z-index: 0;
    width: 100%;
    /* object-fit: cover; */
    /* min-width: 360px;
    max-width: 1633px; */
    height: 546px;

  }

  .content-neo img {
    width: 100%;
    object-fit: cover;
    /* min-width: 360px; */
    max-width: 1633px;
    height: 549px;
  }

  .content-peli-logo {

    position: absolute;
    bottom: 130px;
    left: 0;
    right: 0;
    z-index: 2;
    /* width: 70%; */
    /* min-width: 360px; */
    /* margin: auto; */
    object-fit: contain;
    text-align: center;
    overflow: hidden;
  }



.header-tags {
  width: 100%;
  position: absolute;
  bottom: 110px;
  z-index: 2;
}

.header-tags ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-auto-columns: 100px;
  justify-content: center;
}

.header-tags ul li {
  list-style: none;
}

.header-tags ul li a{
  font-family: Avenir;
  font-size: 0.7em;
  color: white;
  text-decoration: none;
}

.header-tags ul li::before{
  content: '•';
  margin-inline-start: 6px;
  margin-inline-end: 3px;
  color: white;
  position: relative;
  top: 2px;
}

.header-tags ul li:first-child::before{
  content: '';
}

.header-buttons {
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-buttons button {
  background: rgba(0, 0, 0, 0);
  border: none;
}
.header-buttons a {
  text-decoration: none;
  color: white;
  font-family: Avenir;
  font-size: 11px;

}
.header-buttons .play {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  padding-block: 4px;
  padding-inline: 10px;
  border-radius: 4px;
  font-weight: bold;
}



.header-buttons button p {
  padding: 0;
  margin: 0;
}

main {
display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: 64px;
}

.list {
  margin-block-start: 66px;
  margin-inline-start: 11px;
}

h2 {
  color: white;
  font-family: Avenir;
  font-size: 18px;
}

.list-content {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;
}

.list-item {
  margin: 3px;
}

.footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  align-content: center;
  overflow: hidden;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  height: 64px;
  align-content: center;
}

.footer ul li {
  display: grid;
  list-style: none;
  align-content: center;
  padding-block-end: 8px;
}

.footer ul li a{
  font-family: Avenir;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: grey;
  text-decoration: none;
  align-content: center;
  display: grid;
  justify-items: center;
}

.footer ul li a i::hover, .footer ul li a svg path::hover {
  color: white;
  fill: white;
}